body{
    background-color: black;
    background-image: url('img/pexels-stars-1837306.jpg');
    color: white;
    font-family: "Black Ops One";
}

h2{
    background-image: url('img/mattiaverga-space-9250868_640.jpg');
    color: white;
}