* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    background-color: rgb(106, 146, 66);
    text-align: center;
    padding: 2rem;
}

nav {
    background-color: rgb(147, 240, 54);
    padding: 1.5rem;
    word-spacing: 1.5rem;
    text-align: center;
    position: sticky;
    top: 0;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    background-color: rgba(87, 145, 29, 0.089);
    padding: 1rem;
    border-radius: 8px;
}

main {
    background-color: rgb(4, 55, 221);
    padding: 2rem;
}

section {
    background-color: rgb(213, 250, 2);
    padding: 2rem;
}

article {
    background-color: rgb(165, 192, 11);
    padding: 2rem;
    margin-bottom: 1rem;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    position: relative;
    top: 0.5rem;
}

th, td {
    border: 1px solid rgb(165, 192, 11);
    padding: 1rem;
    text-align: center;
    background-color: lightgreen;
    border-radius: 5px;
}

table:nth-child(odd) {
    background-color: aliceblue;
}

aside {
    background-color: rgb(226, 203, 203);
    padding: 2rem;
}

footer {
    background-color: rgb(192, 82, 82);
    padding: 2rem;
    text-align: center;
}